.card {
  margin-top: 1rem;
}

.state-alivrer {
  color:rgba(255, 0, 0, 0.568);
}

.state-encours {
  color:rgba(0, 17, 255, 0.568);
}

.state-livree {
  color:rgba(17, 99, 21, 0.568);
}

.material-icons{
  color:rgba(255, 0, 0, 0.568);
  cursor: pointer;
}
